@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");
// @import url("http://fonts.cdnfonts.com/css/georgia");
@import url("http://fonts.cdnfonts.com/css/bergamo-std");
@import "bootstrap/scss/bootstrap.scss";

@import "./resets";

*,
html {
	//   font-family: Georgia, "Times New Roman", Times, serif;
	font-family: "Poppins", sans-serif;
	font-size: 15.5px;
	font-weight: 300;

	@media screen and (max-width: 768px) {
		font-size: 13.5px;
	}
}

.ads {
	width: 100%;
	object-fit: cover;
	&.landscape {
		max-height: 16.375rem;
		// object-fit: contain;
	}
}
